body {
    margin: 0;
    padding: 0;
}


/* estilo menu */

a {
    color: #0fa259;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    font-size: 20px;
}

.logo {
    margin-top: 30px;
}


/*cabecalho*/

[data-header="cabecalho"] {
    box-sizing: border-box;
    margin-top: 1px;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #094056;
}

[data-menu="menu"] {
    display: flex;
    list-style: none;
    gap: .5rem;
}

[data-menu="menu"] a {
    display: block;
    padding: .5rem;
}

[data-botao="btnMobile"] {
    display: none;
}


/*botoes*/

button {
    background-color: #0fa259;
    color: #094056;
    font-size: 1.3rem;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 3px 3px 10px #094056;
}


/*modal*/

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


/*box modal*/

.modal-content {
    width: 500px;
    height: 300px;
    background-color: #094056;
    text-align: center;
    padding: 40px;
    position: relative;
}


/*botões modal*/

.input {
    width: 50%;
    display: block;
    margin: 15px auto;
}


/*Fechar Modal*/

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}