body {
    margin: 0;
    padding: 0;
}


/* estilo menu */

a {
    color: #0fa259;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    font-size: 20px;
}

.logo {
    margin-top: 30px;
}


/*cabecalho*/

[data-header="cabecalho"] {
    box-sizing: border-box;
    margin-top: 1px;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #094056;
}

[data-menu="menu"] {
    display: flex;
    list-style: none;
    gap: .5rem;
}

[data-menu="menu"] a {
    display: block;
    padding: .5rem;
}

[data-botao="btnMobile"] {
    display: none;
}

input {
    padding: 14px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
}


/*botoes*/

button {
    background-color: #0fa259;
    color: #094056;
    font-size: 1.3rem;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 3px 3px 10px #094056;
}

.modal {
    background-color: #094056;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 18px;
    width: 300px;
    height: 450px;
    text-align: center;
    opacity: 0;
    font-size: 18px;
    bottom: 0;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}