.cores{
    cores: 
    #0fa259
    #95d65b
    #e3e6ea
    #04add4
    #094056
    #e3e6ea
}
@font-face {
    font-family: ;
    src: url('') format('');
}
body{
    height: 100%;
}

header{
    background-color: #094056;
    height: 150px;
}

#logo{
    float: left;
    margin: -70px 30px;
}

#menu{
    text-align: right;
    padding-top: 60px;
    padding-right: 30px;

}

#menu a{
    color: #0fa259;
    padding-right: 15px;
    text-decoration: none;
    font-family: ;

}