.cores{
    cores: 
    #0fa259
    #95d65b
    #e3e6ea
    #04add4
    #094056
    #e3e6ea
}
@font-face {
    font-family: ;
    src: url("/Font/SunnyspellsRegular.otf") format("opentype");
}
body{
    height: 100%;
}

header{
    background-color: #094056;
    height: 150px;
}

.logo{
    float: left;
    margin: -70px 0px 0px 30px;
}

.menu{
    margin: 0px;
    float: right;
    padding: 30px;
    list-style-type: none;
}

.menu ul{
    list-style: none;
    position: relative;
    display: block;
    text-decoration: none;
    
}

.menu ul li{
    width: 90px;
    float: left;
}

.menu a{
    color: #0fa259;
    padding: 15px;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #094056;
}

.menu ul ul{
    padding: 0px;
    position: absolute;
    visibility: hidden;
    border: solid 1px #04add4;
}

.menu ul li:hover ul{
    visibility: visible;

}

.menu ul ul li{
    float: none;
}

.menu-button{
    display: none;
}
#closeMenu{
    display: none;
}

@media (max-width: 900px){
    .menu-button{
        display: block;
        color: #0fa259;
        background-color: #094056;
        border: none;
        width: 50px;
        margin: 55px;
        float: right;
        cursor: pointer;
    }

    .menu{
        background-color: #094056;
        float: right;
        padding: 10px;
        width: 160px;
        margin: 15px;
        transition: all .4s;
        z-index: 9;
    }

    .menu ul li{
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
}
    