<!--vincula a model-->

@model CadastroModel
@{
    ViewData["Title"] = "Cadastrar pet";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar pet para doação</h1>
       
</div>
<!--Formulário https://getbootstrap.com/docs/4.1/components/forms/-->
<!--asp-controller="Cadastro" asp-action="Criar" method="post" pega informação e armazena-->
<form asp-controller="Cadastro" asp-action="Criar" method="post">
 
  <div class="form-group">
    <label for="Nome">Nome</label>
    <!--asp-for="Nome" link o nome à model-->
    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Pet">    
  </div>

  <div class="form-group">
    <label for="Especie">Espécie</label>
    <input type="text" asp-for="Especie" class="form-control" placeholder="Digite Gato ou Cachorro">    
  </div>

  <div class="form-group">
    <label for="Sexo">Sexo</label>
    <input type="text" asp-for="Sexo" class="form-control" placeholder="Macho ou Fêmea">    
  </div>

    <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Cadastro" asp-action="Index" role="button">Voltar</a>
</form>