.cores{
    cores: 
    #0fa259
    #95d65b
    #e3e6ea
    #04add4
    #094056

}
@font-face {
    font-family: ;
    src: url("/Font/SunnyspellsRegular.otf") format("opentype");
}
body{
    height: 100%;
    background-color: #e3e6ea;
}

header{
    background-color: #094056;
    height: 150px;
}

.logo{
    float: left;
    margin: -70px 0px 0px 30px;
}
.logo input{
    width: 300px;
}

.menu{
    margin: 0px;
    float: right;
    padding: 30px;
    list-style-type: none;
}

.menu ul{
    list-style: none;
    position: relative;
    display: block;
    text-decoration: none;
    
}

.menu ul li{
    width: 90px;
    float: left;
}

.menu a{
    color: #0fa259;
    padding: 15px;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #094056;
}

.menu ul ul{
    padding: 0px;
    position: absolute;
    visibility: hidden;
    border: solid 1px #04add4;
}

.menu ul li:hover ul{
    visibility: visible;

}

.menu ul ul li{
    float: none;
}

.menu a:hover, .menu a:focus{
    color: #95d65b;
}

@media (max-width: 900px){
    header{
        height: 50px;
    }
    .logo{
        float: left;
        margin: -22px 0px 0px 10px;
    }
    .logo input{
        width: 100px;
    }
    .menu-button{
        display: block;
        background-color: transparent;
        border: none;
        width: 50px;
        margin: 10px;
        float: right;
        cursor: pointer;
    }
    .menu-button i {
        color: #0fa259;
    }
    .menu{
        display: none;
    }

    .closebtn{
        position: absolute;
        color: #094056;
        text-decoration: none;
        list-style-type: none;
        font-size: 40px;
        right: 45px;
        cursor: pointer;
        
    }
    
    .menuresp{
        position: relative;
        text-align: center;
        padding: 20px;
        margin: 15px;
        transition: all .4s;
        z-index: 9;
        text-decoration: none;
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
    }

    .menuresp ul li{
        float: none;
        text-decoration: none;
        list-style-type: none;
        padding: 15px;
    }

    .menuresp ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
        display: block;
    }

    .menuresp ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
    .menuresp a{
        text-decoration: none;
        color: #094056;
        font-size: 20px;

    }

    .overlay{
        width: 0;
        height: 100%;
        background-color: #0fa259;
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
        overflow-x: hidden;
        float: right;
    }
    .overlay a:hover, .overlay a:focus{
        color: #04add4;
    }
    .closebtn a:hover, .closebtn a:focus{
        color: #04add4;
    }
}
@media (min-width: 900px){
    .menu-button{
        display: none;
    }
    #myNav{
        display: none;
    }
}