@{
    ViewData["Title"] = "Cadastro usuários";
}

<div class="text-center">
    <h1 class="display-4">Usuário</h1>
    <p>Adote os</p>
    
</div>

<div class="text-right">
    <!--Botão de adicionar-->
    <a class="btn btn-success" role="button" asp-controller="Cadastro" asp-action="Criar">Adicionar novo usuário</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Espécie</th>
      <th scope="col">Sexo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Lulu</td>
      <td>Gato</td>
      <td>Fêmea</td>
      <td>
          <a role="button" class="btn btn-primary" asp-controller="Cadastro" asp-action="Editar">Editar</a> 
          <a role="button" class="btn btn-danger" asp-controller="Cadastro" asp-action="ApagarConfirmacao">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Cachorro</td>
      <td>Macho</td>
      <td>
          <a role="button" class="btn btn-primary" asp-controller="Cadastro" asp-action="Editar">Editar</a> 
          <a role="button" class="btn btn-danger" asp-controller="Cadastro" asp-action="ApagarConfirmacao">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
     <td>Leide</td>
      <td>Gato</td>
      <td>Fêmea</td>
      <td>
          <a role="button" class="btn btn-primary" asp-controller="Cadastro" asp-action="Editar">Editar</a> 
          <a role="button" class="btn btn-danger" asp-controller="Cadastro" asp-action="ApagarConfirmacao">Apagar</a>
      </td>
    </tr>
  </tbody>
</table>